@import 'intialization';

.introduction {
  padding: 1rem 1rem 0 1rem;
}

.introduction__header {
  font-size: 25px;
  letter-spacing: 3px;
  color: $secondary-color;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
}

.introduction__description-container {
  border: 4px solid white;
  background-color: #f9f9f9;
  padding: 1rem;
}

.introduction__description {
  font-size: 16px;
}

.event-date {
  color: #4b4b4b;
  margin: 1rem 0;
  font-size: 24px;
  text-align: left;
}

.main-program {
  background-color: rgb(39, 42, 49);
  padding: 2rem 1rem 1rem;

  h3 {
    font-family: $primary-font-family;
    width: max-content;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;

    @include underlineLength(30%);
  }
}

.main-program__container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  .card {
    background-color: rgba(59, 62, 69, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18%;
    padding: 1rem;

    img {
      width: 1.875rem;
      flex-basis: auto;
    }

    & > * {
      margin: 0 3px;
    }

    .card-title {
      color: $secondary-color;
      font-family: $heading-font-family;
      text-align: center;
      flex-basis: 110px;
      flex-grow: 2;
      font-size: 16px;
    }

    .card-description {
      font-size: 15px;
      color: $offwhite-color;
      flex-basis: 140px;
    }
  }

  .join-btn {
    text-decoration: none;
    color: $offwhite-color;
    background-color: $secondary-color;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
}

.partner {
  display: none;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 30px;
  }

  .introduction {
    max-width: 800px;
    padding: 4rem 3rem;

    h1 {
      font-size: 45px;
      line-height: 50px;
      font-weight: normal;
    }
  }

  .main-program {
    .main-program__container {
      flex-direction: row;
      height: 50vh;
      width: 90%;
      margin: 0 auto;
      justify-content: space-around;
    }

    .card {
      flex-direction: column;
      height: 10em;
      justify-content: space-around;
      flex-grow: 1;
      margin-right: 8px;
      flex-basis: 100px;

      .card-title {
        flex-basis: 70px;
        line-height: 60px;
        text-align: center;
        flex-grow: 0;
      }

      .card-description {
        text-align: center;
      }
    }

    .join-btn {
      display: none;
    }
  }
}
